<%- include("partials/header.ejs") %>
<div class="sectophead">
  <div class="sechead">
    <div class="secpagehead">
      Welcome to secrets page <span class="sname"><%= name %>!</span>
    </div>

    <div style="color: green" class="secemail">
      <span style="color: red">Your secret Email is: </span><%= email %>
    </div>

    <div id="user-id">
      <span id="user-id0" style="color: red"></span
      ><span id="user-id1" style="color: green"></span>
    </div>
  </div>
  <div class="secbtns">
    <a href="/login" type="button" id="tologin">Logout</a>
    <a href="/register" type="button">New Signup</a>
    <a href="/" type="button">Back To Home</a>
  </div>
</div>
<%- include("partials/footer.ejs") %>
